.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 20px 0;
}
.main-navbar.scrolled {
  background-color: rgba(63, 63, 63, 0.404);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  /* height: 60px; Adjust as needed */
  object-fit: contain;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #761192; /* Highlight color */
}

/* Hide hamburger on larger screens (not shown since we removed it) */
/* Mobile styles */
/* @media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
} */

@media (min-width: 1281px) {
  .main-navbar{
    display: block !important;
  }

  .navbar{
    display: none !important ;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .main-navbar{
    display: block !important;
  }

  .navbar{
    display: none !important ;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-navbar{
    display: block !important;
  }

  .navbar{
    display: none !important ;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main-navbar{
    display: block !important;
  }

  .navbar{
    display: none !important ;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .main-navbar{
    display: none !important;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .main-navbar{
    display: none !important;
  }

}